[submodule "includes/spdlog"]
	path = includes/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "includes/glfw"]
	path = includes/glfw
	url = git@github.com:glfw/glfw.git
[submodule "includes/glm"]
	path = includes/glm
	url = git@github.com:g-truc/glm.git
[submodule "includes/vulkan/sdk"]
	path = includes/vulkan/sdk
	url = git@github.com:LunarG/VulkanTools.git
[submodule "includes/vulkan/headers"]
	path = includes/vulkan/headers
	url = git@github.com:KhronosGroup/Vulkan-Headers.git
